@import "tailwindcss";

:root {
  --background: #725539;
  --foreground: #f5e9e6;
  --stonefire-red: #8b1e12;
  --stonefire-beige: #f5f3f0;
  --stonefire-beige-light: #f9f7f4;
  --stonefire-black: #1a1a1a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

body.no-scroll {
  overflow: hidden;
}
